<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DialogueSceneMapper">
    
    <resultMap type="DialogueScene" id="DialogueSceneResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="name"    column="name"    />
        <result property="tagId"    column="tag_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDialogueSceneVo">
        select id, uuid, name, tag_id, user_id, create_time, update_time from dialogue_scene
    </sql>

    <select id="selectDialogueSceneList" parameterType="DialogueScene" resultMap="DialogueSceneResult">
        <include refid="selectDialogueSceneVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="tagId != null "> and tag_id = #{tagId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectDialogueSceneById" parameterType="Long" resultMap="DialogueSceneResult">
        <include refid="selectDialogueSceneVo"/>
        where id = #{id}
    </select>
    <select id="selectSceneByUUId" resultMap="DialogueSceneResult">
        <include refid="selectDialogueSceneVo"/>
        where uuid = #{uuid}
    </select>

    <insert id="insertDialogueScene" parameterType="DialogueScene" useGeneratedKeys="true" keyProperty="id">
        insert into dialogue_scene
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDialogueScene" parameterType="DialogueScene">
        update dialogue_scene
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDialogueSceneById" parameterType="Long">
        delete from dialogue_scene where id = #{id}
    </delete>

    <delete id="deleteDialogueSceneByIds" parameterType="String">
        delete from dialogue_scene where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>