<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DialogueMapper">
    
    <resultMap type="Dialogue" id="DialogueResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="sceneId"    column="scene_id"    />
        <result property="senderContent"    column="sender_content"    />
        <result property="reply"    column="reply"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDialogueVo">
        select id, uuid, scene_id, sender_content, reply, sort_num, create_user_id, create_time, update_time from dialogue
    </sql>

    <select id="selectDialogueList" parameterType="Dialogue" resultMap="DialogueResult">
        <include refid="selectDialogueVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="sceneId != null "> and scene_id = #{sceneId}</if>
            <if test="senderContent != null  and senderContent != ''"> and sender_content = #{senderContent}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
        </where>
    </select>
    
    <select id="selectDialogueById" parameterType="Long" resultMap="DialogueResult">
        <include refid="selectDialogueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDialogue" parameterType="Dialogue" useGeneratedKeys="true" keyProperty="id">
        insert into dialogue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="sceneId != null">scene_id,</if>
            <if test="senderContent != null and senderContent != ''">sender_content,</if>
            <if test="reply != null and reply != ''">reply,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="sceneId != null">#{sceneId},</if>
            <if test="senderContent != null and senderContent != ''">#{senderContent},</if>
            <if test="reply != null and reply != ''">#{reply},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    <insert id="insertDialogueBatch">
        insert into dialogue(uuid, scene_id, create_user_id, sender_content, reply,sort_num) values
        <foreach collection="list" separator="," item="item">
            (#{item.uuid},#{item.sceneId},#{item.createUserId},#{item.senderContent},#{item.reply},#{item.sortNum})
        </foreach>
    </insert>

    <update id="updateDialogue" parameterType="Dialogue">
        update dialogue
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="sceneId != null">scene_id = #{sceneId},</if>
            <if test="senderContent != null and senderContent != ''">sender_content = #{senderContent},</if>
            <if test="reply != null and reply != ''">reply = #{reply},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDialogueById" parameterType="Long">
        delete from dialogue where id = #{id}
    </delete>

    <delete id="deleteDialogueByIds" parameterType="String">
        delete from dialogue where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>