<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LexiconWordMapper">
    
    <resultMap type="LexiconWord" id="LexiconWordResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="lexionId"    column="lexion_id"    />
        <result property="wordId"    column="word_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLexiconWordVo">
        select id, uuid, lexion_id, word_id, create_time, update_time from lexicon_word
    </sql>

    <select id="selectLexiconWordList" parameterType="LexiconWord" resultMap="LexiconWordResult">
        <include refid="selectLexiconWordVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="lexionId != null "> and lexion_id = #{lexionId}</if>
            <if test="wordId != null "> and word_id = #{wordId}</if>
        </where>
    </select>
    
    <select id="selectLexiconWordById" parameterType="Long" resultMap="LexiconWordResult">
        <include refid="selectLexiconWordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLexiconWord" parameterType="LexiconWord" useGeneratedKeys="true" keyProperty="id">
        insert into lexicon_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="lexionId != null">lexion_id,</if>
            <if test="wordId != null">word_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="lexionId != null">#{lexionId},</if>
            <if test="wordId != null">#{wordId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLexiconWord" parameterType="LexiconWord">
        update lexicon_word
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="lexionId != null">lexion_id = #{lexionId},</if>
            <if test="wordId != null">word_id = #{wordId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLexiconWordById" parameterType="Long">
        delete from lexicon_word where id = #{id}
    </delete>

    <delete id="deleteLexiconWordByIds" parameterType="String">
        delete from lexicon_word where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>