<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NoteMapper">
    
    <resultMap type="Note" id="NoteResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="title"    column="title"    />
        <result property="summary"    column="summary"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNoteVo">
        select id, uuid, title, summary, user_id, create_time, update_time from note
    </sql>

    <select id="selectNoteList" parameterType="Note" resultMap="NoteResult">
        <include refid="selectNoteVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectNoteById" parameterType="Long" resultMap="NoteResult">
        <include refid="selectNoteVo"/>
        where id = #{id}
    </select>

    <select id="selectNoteByUUId" resultType="com.ruoyi.system.domain.Note">
        <include refid="selectNoteVo"/>
        where uuid = #{uuid}
    </select>

    <insert id="insertNote" parameterType="Note" useGeneratedKeys="true" keyProperty="id">
        insert into note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="summary != null">summary,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="summary != null">#{summary},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNote" parameterType="Note">
        update note
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateNoteByUUID" parameterType="Note">
        update note
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="deleteNoteById" parameterType="Long">
        delete from note where id = #{id}
    </delete>

    <delete id="deleteNoteByIds" parameterType="String">
        delete from note where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>