<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OldUserStudyRecordMapper">
    
    <resultMap type="UserStudyRecord" id="UserStudyRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="wordId"    column="word_id"    />
        <result property="word"    column="word"    />
        <result property="studyTime"    column="study_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserStudyRecordVo">
        select id, user_id, user_name, word_id, word, study_time, create_time, update_time from user_study_record
    </sql>

    <select id="selectUserStudyRecordList" parameterType="UserStudyRecord" resultMap="UserStudyRecordResult">
        <include refid="selectUserStudyRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="wordUuid != null "> and word_uuid = #{wordId}</if>
            <if test="word != null  and word != ''"> and word = #{word}</if>
            <if test="studyTime != null "> and study_time = #{studyTime}</if>
        </where>
        order by study_time desc
    </select>
    
    <select id="selectUserStudyRecordById" parameterType="Long" resultMap="UserStudyRecordResult">
        <include refid="selectUserStudyRecordVo"/>
        where id = #{id}
    </select>
    <select id="getStudyRecordCount" resultType="java.lang.Long">
        select count(*) from user_study_record where user_id = #{userId}
    </select>
    <select id="getStudyRecordOfMonth" resultType="java.lang.Long">
        select count(*) from user_study_record
        where study_time >= #{beginStr} and study_time <![CDATA[<=]]> #{endStr}
        and user_id = #{userId}
        group by date_format(study_time,"%Y%m")
    </select>
    <select id="getActualValueOfDay" resultType="java.util.Map">
        select
        date_format(tmpday, "%Y%m%d") as day,
        count(*) as count
        from
        (
        select
        date_format(study_time, "%Y%m%d") as tmpday,
        word
        from
        user_study_record
        where
        study_time >= #{beginStr} and study_time <![CDATA[<=]]> #{endStr}
        and user_id = #{userId}
        group by
        date_format(study_time, "%Y%m%d"),
        word
        ) as tmp
        group by
            tmpday
    </select>

    <select id="listWordOfDay" resultType="com.ruoyi.system.domain.UserStudyRecord">
        select
           *
        from
            user_study_record
        where
            study_time >= #{beginStr} and study_time <![CDATA[<=]]> #{endStr}
          and user_id = #{userId}
    </select>

    <insert id="insertUserStudyRecord" parameterType="UserStudyRecord" useGeneratedKeys="true" keyProperty="id">
        insert into user_study_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="wordId != null">word_id,</if>
            <if test="word != null and word != ''">word,</if>
            <if test="studyTime != null">study_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="wordId != null">#{wordId},</if>
            <if test="word != null and word != ''">#{word},</if>
            <if test="studyTime != null">#{studyTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserStudyRecord" parameterType="UserStudyRecord">
        update user_study_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="wordId != null">word_id = #{wordId},</if>
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="studyTime != null">study_time = #{studyTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserStudyRecordById" parameterType="Long">
        delete from user_study_record where id = #{id}
    </delete>

    <delete id="deleteUserStudyRecordByIds" parameterType="String">
        delete from user_study_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>