<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WordSnapshotMapper">
    
    <resultMap type="WordSnapshot" id="WordSnapshotResult">
        <result property="id"    column="id"    />
        <result property="wordId"    column="word_id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWordSnapshotVo">
        select id, word_id, user_id, type, create_time, update_time from word_snapshot
    </sql>

    <select id="selectWordSnapshotList" parameterType="WordSnapshot" resultMap="WordSnapshotResult">
        <include refid="selectWordSnapshotVo"/>
        <where>  
            <if test="wordId != null "> and word_id = #{wordId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectWordSnapshotById" parameterType="Long" resultMap="WordSnapshotResult">
        <include refid="selectWordSnapshotVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWordSnapshot" parameterType="WordSnapshot" useGeneratedKeys="true" keyProperty="id">
        insert into word_snapshot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wordId != null">word_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wordId != null">#{wordId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    <insert id="insertBatch">
        insert into word_snapshot(word_id, user_id, type) values
        <foreach collection="list" separator="," item="item">
            (#{item.wordId},#{item.userId},#{item.type})
        </foreach>
    </insert>

    <update id="updateWordSnapshot" parameterType="WordSnapshot">
        update word_snapshot
        <trim prefix="SET" suffixOverrides=",">
            <if test="wordId != null">word_id = #{wordId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWordSnapshotById" parameterType="Long">
        delete from word_snapshot where id = #{id}
    </delete>

    <delete id="deleteWordSnapshotByIds" parameterType="String">
        delete from word_snapshot where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByUserIdAndType">
        delete from word_snapshot where user_id = #{userId} and type = #{type}
    </delete>
</mapper>