<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WordSentenceMapper">
    
    <resultMap type="WordSentence" id="WordSentenceResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="wordId"    column="word_id"    />
        <result property="sentenceContent"    column="sentence_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWordSentenceVo">
        select id, uuid, word_id, sentence_content, create_time, update_time from word_sentence
    </sql>

    <select id="selectWordSentenceList" parameterType="WordSentence" resultMap="WordSentenceResult">
        <include refid="selectWordSentenceVo"/>
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="wordId != null "> and word_id = #{wordId}</if>
            <if test="sentenceContent != null  and sentenceContent != ''"> and sentence_content = #{sentenceContent}</if>
        </where>
    </select>
    
    <select id="selectWordSentenceById" parameterType="Long" resultMap="WordSentenceResult">
        <include refid="selectWordSentenceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWordSentence" parameterType="WordSentence" useGeneratedKeys="true" keyProperty="id">
        insert into word_sentence
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="wordId != null">word_id,</if>
            <if test="sentenceContent != null and sentenceContent != ''">sentence_content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="wordId != null">#{wordId},</if>
            <if test="sentenceContent != null and sentenceContent != ''">#{sentenceContent},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWordSentence" parameterType="WordSentence">
        update word_sentence
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="wordId != null">word_id = #{wordId},</if>
            <if test="sentenceContent != null and sentenceContent != ''">sentence_content = #{sentenceContent},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWordSentenceById" parameterType="Long">
        delete from word_sentence where id = #{id}
    </delete>

    <delete id="deleteWordSentenceByIds" parameterType="String">
        delete from word_sentence where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>